
/* Reset */

:root {
  --regular: 600;
  --semibold: 700;
  --bold: 800;
  --text-color: #383636;
  --primary-color: #f70142;
  --secondary-color: #011e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* settings */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600px;
  color: var(--text-color);
}

/* gobal font sizes */
h2 {
  font-size: 48px;
  line-height: 64px;
  color: var(--text-color);
  font-weight: var(--regular);
  margin-bottom: 16px;
}

h2 span {
  font-weight: var(--bold);
}

h3 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: var(--semibold);
}


/* Header */
header {
  padding: 20px 78px 34px 78px;
  position: absolute;
  z-index: 2;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

header .logo img {
  width: 70px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .fa-bars {
  display: none;
}

.navbar .menu {
  display: flex;
}

.navbar a {
  color: white;
  font-size: 22px;
  font-family: 400;
  padding: 10px 8px;
  margin: 0 20px;
}

.navbar li:last-child a {
  padding-right: 0;
}

.navbar li a {
  transition: color ease 0.8s;
}

.navbar li:hover a {
  color: #f70142;
}

.navbar li.active a {
  border-bottom: 2px solid #f70142;
  padding-bottom: 2px;
}

/* hero */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.hero img {
  width: 100%;
}

.hero .hero-info h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
  line-height: 54px;
}

.hero .hero-info h1 span {
  font-size: 30px;
  font-weight: 400;
  display: block;
}

.hero .hero-info {
  position: absolute;
  top: 22%;
  right: 2%;
  max-width: 405px;
}

.hero .hero-info .cta-btn {
  background: #f70142;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 6px 13px;
  border-radius: 24px;
  display: inline-block;
  transition: background-color ease 0.5s;
}
.hero .hero-info .cta-btn:hover {
  background-color: black;
}

.hero .swiper-pagination {
  bottom: 240px;
  text-align: right;
  padding-right: 78px;
}

.hero .swiper-pagination .swiper-pagination-bullet {
  width: 23px;
  height: 23px;
  background: transparent;
  border: 2px solid white;
  opacity: 1;
  outline: none;
}

.hero
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #f70142;
}



/* global classes */
.container {
  max-width: 1088px;
  margin: auto;
  /* outline: 1px solid black; */
}

/* CTA buttons style */

.cta-btn {
  font-size: 20px;
  font-weight: var(--semibold);
  background-color: var(--primary-color);
  color: white;
  display: inline-block;
  padding: 10px 30px 10px 20px;
  border-radius: 22px;
  transition: background-color 0.5s ease;
}

.cta-btn:hover {
  background-color: var(--secondary-color);
}

.cta-btn:hover img {
  transform: translateX(12px);
  transition: transform 0.3s ease;
}

.cta-btn img {
  transform: translateX(6px);
  width: 17px;
}



/* Img info layout css */
.info-img-layout {
  position: relative;
}

.info-img-layout .flex-wrapper {
  display: flex;
  align-items: center;
  height: 684px;
}

.info-img-layout .info-wrapper {
  flex: 1.4;
  max-width: 560px;
}

.info-img-layout .img-wrapper {
  flex: 1;
  position: absolute;
  right: 0;
  top: 0;
}

.info-img-layout .img-wrapper img {
  width: 100%;
  height: 684px;
}
.info-img-layout .info-wrapper p {
  margin: 32px 0 40px;
}

/* Info image layout with BG css */
.info-img-layout .img-wrapper.position-reset {
  position: static;
}

.info-img-layout.with-bg .info-wrapper {
  margin-left: 104px;
}

/* .info-img-layout.with-bg .img-wrapper {
      position: relative;
  } */

.info-img-layout.with-bg .img-wrapper::before {
  content: "";
  width: 22%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.img-wrapper.position-reset img {
  height: 350px;
  width: 300px;
}




/* for mobile */
@media (max-width: 767px) {
  header {
    padding: 20px;
  }
  header .logo img {
    width: 45px;
  }
  header nav .fa-bars {
    display: block;
    color: white;
    height: 29px;
    font-size: 20px;
  }

  .navbar .menu {
    position: absolute;
    border-radius: 10px;
    left: 66%;
    right: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 67px;
    padding: 5px;
    display: none;
}
  .navbar a{
    font-size: 17px;
  }

  .navbar .menu.open {
    display: block;
  }
  .navbar .menu.open li {
    margin-bottom: 10px;
  }

  .hero img {
    height: 100vh;
    object-fit: cover;
  }

  .hero .hero-info {
    position: absolute;
    max-width: 270px;
    top: 60%;
    left: 5%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
  }

  .hero .hero-info h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .hero .hero-info .cta-btn {
    font-size: 12px;
    padding: 6px 13px;
    margin-top: 14px;
    border-radius: 24px;
  }

  .hero .swiper-pagination {
    bottom: 30px;
    text-align: right;
    padding-right: 8px;
  }

  .hero .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .hero .swiper-slide::before {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }


  /* Info image layout */

  .info-img-layout .img-wrapper {
    position: static;
  }

  .info-img-layout .flex-wrapper {
    display: block;
    height: auto;
  }

  h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 18px;
  }

  .cta-btn {
    font-size: 10px;
    padding: 5px 15px 5px 10px;
  }

  .cta-btn img {
    transform: translate(3px, 2px);
    width: 13px;
  }

  .info-img-layout .img-wrapper {
    margin: 22px 0;
  }
  .info-img-layout .img-wrapper img {
    height: 460px;
  }

  .img-wrapper.position-reset img {
    /* height: 350px; */
    width: 100%;
  }

  .info-img-layout .info-wrapper p {
    margin: 10px 0 15px;
  }

  /* Info image layout with BG css */
  .info-img-layout.with-bg .img-wrapper {
    margin-left: 0;
  }

  .info-img-layout.with-bg {
    margin: 80px 0;
  }

  .info-img-layout.with-bg .img-wrapper::before {
    width: 40%;
  }
  .info-img-layout.with-bg .img-wrapper {
    position: relative;
    margin-bottom: 60px;
  }

  .info-img-layout.with-bg .img-wrapper::before {
    width: 50%;
    height: 110%;
    top: -28px;
    left: -20px;
    z-index: -1;
  }
  .info-img-layout.with-bg .info-wrapper {
    margin-left: 0;
  }

  .container {
    padding: 0 22px;
  }
}

/* ipad css */
@media (min-width: 768px) and (max-width: 991px) {
  .hero .hero-info h1 {
    font-size: 42px;
    line-height: 54px;
  }
  header {
    padding: 10px 10px;
  }

  header .logo img {
    width: 51px;
  }
  .navbar a {
    margin: 0 12px;
  }
  .hero .swiper-pagination {
    bottom: 22px;
    padding-right: 20px;
  }
  .hero .swiper-pagination .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
  }

  .hero .hero-info h1 {
    font-size: 33px;
    line-height: 38px;
  }
  .hero .hero-info {
    top: 18%;
    right: 2%;
  }

  .hero .hero-info .cta-btn {
    margin-top: 10px;
  }
  .hero .swiper-slide .image-adjust{
    height: 516px;
}

  /* Info image layout */
  .info-img-layout.with-bg {
    margin-top: 80px;
  }
  .container {
    padding: 0 42px;
  }
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  .info-img-layout .img-wrapper {
    max-width: 350px;
  }

  .info-img-layout .flex-wrapper {
    height: auto;
  }

  .info-img-layout .info-wrapper {
    max-width: 400px;
    padding-top: 20px 0 0;
  }

  .info-img-layout .img-wrapper img {
    height: 395px;
  }
  .info-img-layout.with-bg .img-wrapper::before {
    top: -2px;
  }



}

/* for ipad pro */ 
 @media (min-width: 992px) and (max-width: 1150px) {
  header {
    padding: 10px 10px;
  }

  .hero .hero-info h1 {
    font-size: 45px;
    line-height: 51px;
  }
  header .logo img {
    width: 60px;
  }

  .hero .hero-info {
    top: 21%;
    right: 1%;
  }
.hero .swiper-slide .image-adjust{
    height: 686px;
}

  .hero .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
  .hero .swiper-pagination {
    bottom: 30px;
    text-align: right;
    padding-right: 20px;
  }
  .navbar a {
    padding: 10px 20px;
  }

  /* Info image layout */
  .info-img-layout.with-bg {
    margin-top: 90px;
  }
  .info-img-layout .img-wrapper {
    max-width: 420px;
    padding-right: 20px;
    right: 50px;
    top: 20px;
  }

  .info-img-layout .flex-wrapper {
    height: 500px;
  }

  .info-img-layout .info-wrapper {
    max-width: 570px;
    line-height: 40px;
  }

  .info-img-layout .img-wrapper img {
    height: 500px;
    width: 450px;
  }

  .info-img-layout.with-bg .img-wrapper::before {
    height: 120%;
    top: -10%;
  }

}

/* common padding for ipad and ipad pro */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 42px;
  }
}














